-- Devices such as touchscreens

{% if ansible_hostname == "murasaki" %}
hl.device({
	name = "wacom-hid-526b-pen",
	output = "eDP-1",
})

hl.device({
	name = "wacom-hid-526b-finger",
	output = "eDP-1",
})
{% endif %}
