---
# Linux ===================================================================
- name: linux setup
  when:
    - ansible_distribution != "MacOSX"
    - ansible_distribution != "NixOS"
  become: true
  block:
    - name: system configuration
      block:
        - name: Create a handy zshrc skeleton
          ansible.builtin.copy:
            src: files/zshrc
            dest: /etc/skel/.zshrc
            mode: "0644"
        - name: Standard packages
          ansible.builtin.package:
            state: latest
            name:
              - curl
              - exa
              - git
              - pipx
              - vim
              - wget
              - zsh
        
        - name: System python tools
          ansible.builtin.package:
            state: latest
            name:
              - python3-invoke
        
        - name: Ensure George's group is set
          ansible.builtin.group:
            state: present
            gid: "1000"
            name: gmc
        
        - name: Ensure George user is set
          ansible.builtin.user:
            state: present
            comment: "George Cummings"
            create_home: true
            group: gmc
            name: gmc
            shell: /bin/zsh
            uid: "1000"
        
        - name: Ensure George's remote_tmp is set
          ansible.builtin.file:
            state: directory
            path: /home/gmc/.ansible/tmp
            mode: "0770"
            owner: gmc
            group: gmc
        
    - name: system configuration
      become_user: gmc
      block:
        - name: George gets the zshrc skeleton
          ansible.builtin.copy:
            src: /etc/skel/.zshrc
            dest: /home/gmc/.zshrc
            mode: "0644"
            remote_src: true

# MacOS =====================================================================
- name: macos setup
  when: ansible_distribution == "MacOSX"
  become: true
  block:
    - name: install and configure nvim
      become_user: gmc
      block:
        - name: Install vim-plug
          ansible.builtin.shell:
            executable: /bin/bash
            cmd: >
              curl -fLo {$HOME/.local/share}/nvim/site/autoload/plug.vim 
              --create-dirs
              https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
          changed_when: false

    - name: install lua for macos
      become_user: gmc
      block:
        - name: check if lua exists already
          ansible.builtin.stat:
            path: "/Users/gmc/.local/bin/lua{{ lua_shortversion }}"
          register: lua
        - name: download lua
          ansible.builtin.get_url:
            url: "{{ lua_download }}"
            dest: "/Users/gmc/.cache/lua-{{ lua_version }}.tgz"
          when: not lua.stat.exists
        - name: unarchive lua
          ansible.builtin.shell:
            executable: /bin/bash
            cmd: >
              /usr/bin/tar -C /Users/gmc/.local/bin -xf
              /Users/gmc/.cache/lua-{{ lua_version }}.tgz
            creates: "/Users/gmc/.local/bin/lua{{ lua_shortversion }}"
          changed_when: false
        - name: link lua to lua-version
          ansible.builtin.file:
            state: link
            src: "/Users/gmc/.local/bin/lua{{ lua_shortversion }}"
            dest: /Users/gmc/.local/bin/lua
    - name: configure zshrc
      become_user: gmc
      ansible.builtin.copy:
        src: files/zshrc-darwin
        dest: /Users/gmc/.zshrc
        mode: "0644"


# All systems ---------------------------------------------------------
- name: local configurations
  become: true
  become_user: gmc
  when: ansible_distribution != "NixOS"
  block:
    - name: install linters and language servers for configurations
      ansible.builtin.pip:
        name:
          - black
          - jedi-language-server
          - yq
          - yamllint
        extra_args: --user

    - name: install pipx packages
      community.general.pipx:
        name:
          - poetry
      when: ansible_distribution != "MacOSX"  # temporary

    - name: install starship theme
      ansible.builtin.copy:
        src: files/starship.toml
        dest: "{{ home }}/starship.toml"
        mode: "0644"
