---
# Linux ===================================================================
- name: linux setup
  when: ansible_distribution == "Ubuntu" or ansible_distribution == "Debian":
  become: true
  block:
    - name: system configuration
      block:
        - name: Create a handy zshrc skeleton
          ansible.builtin.copy:
            src: files/zshrc
            dest: /etc/skel/.zshrc
            mode: "0644"
        - name: Standard packages
          ansible.builtin.package:
            state: latest
            name:
              - curl
              - git
              - lua   # for nvim configuration
              - lsd
              - nvim
              - starship
              - wget
              - zsh
        
# MacOS =====================================================================
# There is no MacOS root set up. All MacOS packages are installed in the user
# roles.
# ===========================================================================
