# ╭──────────────╮
# │LDAP Defaults ├─────────────────────────────────────────────────────────
# ╰──────────────╯

BASE	      {{ ldap_base }}
URI	        {%- for item in ldap["servers"] %}{{ item }} {% endfor %}
SASL_MECH   GSSAPI
TLS_REQCERT hard
