[Interface]
Address = {{ wg_vpn_address }}
ListenPort = 51820
PrivateKey = {{ wg_private_key }}
PreUp = iptables -A POSTROUTING -o ens18 -j MASQUERADE -t nat
PreDown = iptables -D POSTROUTING -o ens18 -j MASQUERADE -t nat

{% for peer in wg_peers.items() %}
[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.vpn_address }}/32

{% endfor %}
