---
cachingRedis:
  host: redis
  existingSecretName: netbox-redis-credentials
externalDatabase:
  host: postgres
  port: 5432
  database: netbox
  existingSecretName: netbox-db-credentials
image:
  tag: v4.1.6
postgresql:
  enabled: false
redis:
  enabled: false
superuser:
  existingSecret: netbox-superuser-credentials
tasksRedis:
  host: redis
  existingSecretName: netbox-redis-credentials
