[libdefaults]
	default_realm = {{ realm }}
	dns_lookup_realm = false
	forwardable = true
	renew_lifetime = 7d
	ticket_lifetime = 24h
        rdns = false

[realms]
	{{ realm }} = {
      admin_server = {{ krb5["admin"]}}
    {% for item in krb5["kdc"]  %}
      kdc = {{ item }}
    {% endfor %}
    }
