---
# Linux ===================================================================
- name: linux setup
  when: ansible_distribution == "Ubuntu" or ansible_distribution == "Debian"
  become: true
  block:
    - import_tasks: binary_packages.yml
    - import_tasks: neovim.yml

# MacOS =====================================================================
# There is no MacOS root set up. All MacOS packages are installed in the user
# roles.
# ===========================================================================
