---
- name: install vim-plug
  ansible.builtin.shell:
    executable: /bin/bash
    cmd: >
      curl -fLo ${HOME}/.local/share/nvim/site/autoload/plug.vim
      --create-dirs
      https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  changed_when: false

- name: install nvim configurations
  ansible.builtin.copy:
    src: nvim
    dest: "/home/gmc/.config/"
  notify: install nvim plugins
