[Resolve]
DNS=
FallbackDNS=9.9.9.9#dns.quad9.net
Domains={{ ansible_facts["domain"] }}
DNSSEC=no
DNSOverTLS=no
Cache=yes
#MulticastDNS=yes
LLMNR=no
#CacheFromLocalhost=no
#DNSCacheSize=4096
#MulticastDNSCacheSize=4096
#LLMNRCacheSize=4096
#DNSStubListener=yes
#DNSStubListenerExtra=
#ReadEtcHosts=yes
#ReadStaticRecords=yes
ResolveUnicastSingleLabel=yes
#StaleRetentionSec=0
#RefuseRecordTypes=
