---
# Linux Development ===========================================================
- name: linux development setup
  when: ansible_distribution == 'Ubuntu' or ansible_distribution == 'Debian'
  become: true
  block:
    - import_tasks: binary_packages.yml
    - import_tasks: golang.yml
    - import_tasks: npm_packages.yml
    - import_tasks: vscode.yml

# MacOS =====================================================================
# No MacOS as this is all per-user
