---
apiVersion: v1
kind: ConfigMap
metadata:
  name: bind-config
  namespace: it
data:
  config: |
    acl bad_networks { };
    acl cluster { 10.42.0.0/16; };
    acl nodes { 10.11.0.0/24; 172.16.73.0/24; };
    acl secondaries { 192.168.73.31; };
    acl trusted {
      10.0.0.0/24;
      192.168.68.0/24; 
      192.168.73.0/24; 
    };
    options {
      allow-transfer { cluster; secondaries; };
      allow-query { cluster; trusted; };
      allow-query-cache { cluster; trusted; };
      auth-nxdomain no;
      also-notify { 192.168.73.31; };
      blackhole { bad_networks; };
      directory "/var/cache/bind";
      dnssec-validation auto;
      forward first;
      forwarders {
        8.8.8.8;
      };
      listen-on { any; };
      listen-on-v6 { none; };
      notify yes;
    };
    zone "cummings-online.local" {
      type primary;
      file "/etc/bind/db.cummings-online.local";
      allow-query { any; };
    };
    zone "11.10.in-addr.arpa" {
      type primary;
      file "/etc/bind/db.10.11";
      allow-query { any; };
    };
    zone "168.192.in-addr.arpa" {
      type primary;
      file "/etc/bind/db.192.168";
      allow-query { any; };
    };
  db-cummings-online: |
    $TTL 86400
    @  IN    SOA   ns.cummings-online.local. gmc.cummings-online.local. (
      2025092701   ; serial
           86400   ; refresh
           28800   ; retry
          604800   ; expire
          86400 )  ; negative cache ttl

    ; Required nameserver records ----------------------------------------
    @           IN    NS    ns.cummings-online.local.
    ns          IN    A     10.11.0.31

    ; Hosts --------------------------------------------------------------
    gw-mtl      IN	A	192.168.68.1
    brother     IN	A	192.168.68.61
    goemon      IN	A	192.168.68.73
    goliath     IN	A	192.168.68.74
    rpi1	    IN 	A 	192.168.68.31
    rpi2 	    IN 	A 	192.168.68.32
    rpi3        IN 	A 	192.168.68.33
    rpi4        IN	A	192.168.68.34
    spectre     IN	A	192.168.68.254
    gw-knw      IN	A	192.168.73.1
    fujiko      IN	A	192.168.73.12
    ns3         IN	A	192.168.73.31
    knw-access  IN	A	192.168.73.43
    knw-ha      IN	A	192.168.73.41
    knw-jump    IN	A	192.168.73.42
    canon	    IN	A	192.168.73.61
    lupin       IN  A   10.11.0.2
    jigen       IN  A   10.11.0.3
    zenigata    IN  A   10.11.0.4
    ingress1    IN  A   10.11.0.10
    ldap        IN  A   10.11.0.11
    krb5        IN  A   10.11.0.12
          
    time IN CNAME lupin.cummings-online.local.
    test IN CNAME ingress1.cummings-online.local.
  db-192-168: |
    $TTL 86400
    @ IN SOA ns.cummings-online.local hostmaster.cummings-online.local. (
     2025092701 ; serial
          86400 ; refresh
          28800 ; retry
         604800 ; expire
          86400 ; negative cache ttl
     )
           
    ; Required nameserver records ----------------------------------------
    @           IN    NS    ns.cummings-online.local.
    ns          IN    A     10.11.0.31
           
    ; PTR --------------------------------------------------------------
    68.1    IN PTR gw-mtl.cummings-online.local.
    68.61   IN PTR brother.cummings-online.local.
    68.73   IN PTR goemon.cummings-online.local.
    68.74   IN PTR goliath.cummings-online.local.
    68.31   IN PTR rpi1.cummings-online.local.
    68.32   IN PTR rpi2.cummings-online.local.
    68.33   IN PTR rpi3.cummings-online.local.
    68.34   IN PTR rpi4.cummings-online.local.
    68.34   IN PTR rpi4.cummings-online.local.
    68.254  IN PTR spectre.cummings-online.local.
    73.1    IN PTR gw-knw.cummings-online.local.
    73.12   IN PTR fujiko.cummings-online.local.
    73.31   IN PTR ns3.cummings-online.local.
    73.41   IN PTR knw-ha.cummings-online.local.
    73.42   IN PTR knw-jump.cummings-online.local.
    73.43   IN PTR knw-access.cummings-online.local.
    73.61   IN PTR canon.cummings-online.local.
  db-10-11: |
    $TTL 86400
    @ IN SOA ns.cummings-online.local hostmaster.cummings-online.local. (
      2025092701 ; serial
      86400 ; refresh
      28800 ; retry
      604800 ; expire
      86400 ; negative cache ttl
    )
           
    ; Required nameserver records ----------------------------------------
    @           IN    NS    ns.cummings-online.local.
    ns          IN    A     10.11.0.31
           
    ; PTR --------------------------------------------------------------
    2.0  IN PTR lupin.cummings-online.local.
    3.0  IN PTR jigen.cummings-online.local.
    4.0  IN PTR zenigata.cummings-online.local.
    10.0 IN PTR ingress1.cummings-online.local.
    11.0 IN PTR ldap.cummings-online.local.
    12.0 IN PTR krb5.cummings-online.local.
    31.0 IN PTR ns.cummings-online.local.
