---
- name: install brew packages
  community.general.homebrew:
    name:
      - docker
      - go
      - jq
      - lld  # LLVM linker. Apparently better than rust's native linker
      - lsd  # ls with cool effects. Requires nerd-fonts
      - markdownlint-cli
      - marksman
      - nvim
      - pipx
      - "python@3.11"
      - ruby
      - rustup
      - rust-analyzer
      - starship
      - tree
      - wget

- name: Install rust and cargo on MacOS
  ansible.builtin.command: rustup-init
  changed_when: false

- name: install brew cask packages as root
  community.general.homebrew:
    name:
      - docker

- name: install brew cask packages as user on MacOS
  community.general.homebrew:
    name:
      - iterm2
      - font-sauce-code-pro-nerd-font
      - font-jetbrains-mono-nerd-font
      - vscode

- name: install and configure nvim plugins on MacOS
  block:
    - name: install vim-plug
      ansible.builtin.shell:
        executable: /bin/bash
        cmd: >
          curl -fLo ${HOME}/.local/share/nvim/site/autoload/plug.vim
          --create-dirs
          https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
      changed_when: false
    - name: install nvim configurations
      ansible.builtin.copy:
        src: nvim
        dest: "/Users/gmc/.config/nvim"

- name: configure zshrc on MacOS
  ansible.builtin.copy:
    src: files/zshrc-darwin
    dest: /Users/gmc/.zshrc
    mode: "0644"

- name: configure iterm2 on MacOS
  ansible.builtin.copy:
    src: com.googlecode.iterm2.plist
    dest: ~/Library/Preferences/com.googlecode.iterm2.plist
    mode: "0600"

- name: install pipx packages on MacOS
  community.general.pipx:
    name:
      - poetry

- name: install linters and language servers for configurations
  ansible.builtin.pip:
    name:
      - black
      - jedi-language-server
      - yq
      - yamllint
    extra_args: --user

- name: install starship theme
  ansible.builtin.copy:
    src: files/starship.toml
    dest: "{{ home }}/.config/starship-mac.toml"
    mode: "0644"
